body{
    background-color: rgba(241, 120, 174, 0.8)
}
#profile_image{
    border: 2px dotted blue;
}

.layout{
    color: rgb(148, 112, 216);
    font-family: cursive;
}
table tr:first-child{
    background-color: rgba(250,250,250,0.8)
}
.myheader{
  text-align: center;
  -webkit-text-fill-color: white;
  background: url(https://papers.co/wallpaper/papers.co-nl60-night-starry-sky-aurora-winter-blue-purple-29-wallpaper.jpg)
}
.profile-pic{
    border-radius: 50%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  /height: 100px;/
}

.item2 {
  background-color:yellow;
  /height: 100px;/
}

.item3 {
  background-color:blue;
  /height: 100px;/
}
